// COLORS
$color-primary: #7ed56f; // Pastel Green
$color-primary-light: #55c57a; // Emerald Green
$color-primary-dark: #28b485; // Jungle Greens

$color-secondary-light: #ffb900; // Selective Yellow
$color-secondary-dark: #ff7730; // Burning Orange

$color-tertiary-light: #2998ff; // Dodger Blue
$color-tertiary-dark: #5643fa; // Royal Blue

$color-grey-light-1: #f7f7f7; // Alabaster Grey
$color-grey-light-2: #eeeeee; // Gallery Grey

$color-grey-dark: #777; // Boulder Grey
$color-grey-dark-2: #999; // Dusty Grey
$color-grey-dark-3: #333; // Mine Shaft Grey

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;