.section {
  min-height: 100vh;
  padding: 10rem 20rem;

  @include respond(tab-land) {
    padding: 7.5rem 15rem;
  }

  @include respond(tab-port) {
    padding: 5rem 10rem;
  }

  @include respond(phone) {
    padding: 2.5rem 5rem;
  }

  @include respond(sm-phone) {
    padding: 1rem 2rem;
  }
}
