.section-about {
    // background-color: $color-grey-light-1;
    padding: 25rem 0;
    // margin-top: -20vh;

    #hot-sauce {
        height: auto; 
        width: auto; 
        max-width: 300px; 
        max-height: 300px;
    }
  }