.article-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  & > * {
    min-height: 50rem;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;

    &:not(:first-child) {
      border: 1px solid $color-black;
    }
  }

  &__icons {
    margin: 2rem 2rem 0;
    color: $color-blue-300;
    font-size: 6rem;

    @include respond(tab-land) {
      font-size: 5rem;
    }

    &--caret {
      font-size: 7.5rem;

      @include respond(tab-land) {
        font-size: 6rem;
      }
    }
  }

  &__text {
    width: 60%;
    font-size: clamp(1.6rem, 1.7vw, 1.8rem);
  }

  &__intro {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    flex-direction: column;
    justify-content: flex-start;

    text-align: right;

    @include respond(tab-port) {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;

      text-align: left;
    }
  }

  &__taxes {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    @include respond(tab-port) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    @include respond(phone) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  &__finances {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;

    @include respond(tab-port) {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    @include respond(phone) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
  }

  &__bookkeeping {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    @include respond(tab-port) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    @include respond(phone) {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }
  }

  &__payroll {
    grid-column: 3 / span 1;
    grid-row: 2 / span;

    @include respond(tab-port) {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }

    @include respond(phone) {
      grid-column: 1 / span 1;
      grid-row: 5 / span 1;
    }
  }
}
