$default-font-size: 1.6rem;
$font-primary: "Raleway", sans-serif;
$font-secondary: "Poppins", sans-serif;

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  // color: $color-black-900;
  color: orangered;
}

.heading-one {
  font-size: clamp(3.5rem, 4.75vw, 6rem);
  max-width: 30ch;
}

.heading-two {
  margin-bottom: 1rem;

  font-size: clamp(2rem, 2.5vw, 3rem);
  text-transform: uppercase;

  @include respond(phone) {
    text-align: center;
  }
}

.heading-three {
  margin-bottom: 1rem;
}

.navbar-heading {
  font-size: clamp(1.8rem, 2.1vw, 2.4rem);
}

.paragraph {
  line-height: 2;
  max-width: 60ch;

  font-size: clamp(1.6rem, 1.7vw, 1.8rem);
  letter-spacing: 0.15rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
