.article-contact {
  &__image {
    margin-right: 3rem;
  }
  &__details {
    background-color: rebeccapurple;
    margin-inline: auto;
    width: min(80%, 100rem);

    position: relative;
    display: grid;
    z-index: 5;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &::before {
      content: "";
      position: absolute;
      z-index: -10;
      width: 100%;
      height: 100%;
      background-color: orangered;
    }

    a {
      &:visited {
        color: black;
      }
    }

    & > * {
      padding: 2rem;
      // width: 50rem;
      width: max-content;

      font-size: var(--fs-600);
    }
  }
}
