.btn {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 3rem;

  display: inline-block;

  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;

  @include respond(tab-port) {
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: $clr-primary-200;
  }

  &--cta {
    margin-top: 1.5rem;
  }

  &--inverse {
    background-color: $clr-primary-300;

    a {
      color: $clr-white;
    }
  }
}

.scrollButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 6rem;
  width: 6rem;

  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;

  font-size: 3rem;
  color: $clr-primary-100;

  &__icon {
    font-size: 8rem;
  }
}
