@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

$color-blue: #4070f4; //* Royal Blue

//* --- White
$color-white: hsl(0, 0%, 100%); //* White
$color-white-50: hsl(0, 0%, 96%); //* Wild Sand White
$color-white-100: hsl(0, 0%, 90%); //* Mercury White
$color-white-150: hsl(0, 0%, 87%); //* Alto White
$color-white-200: hsl(0, 0%, 80%); //* Silver White

//* --- Grey
$color-grey-300: hsl(0, 0%, 70%); //* Nobel Grey
$color-grey-400: hsl(0, 0%, 60%); //* Dusty Grey
$color-grey-500: hsl(0, 0%, 50%); //* Grey
$color-grey-600: hsl(0, 0%, 40%); //* Dove Grey
$color-grey-650: hsl(0, 0%, 33%); //* Emperor Grey
$color-grey-700: hsl(0, 0%, 30%); //* Tundora Grey

//* --- Black
$color-black: hsl(0, 0%, 0%); //* Black
$color-black-900: hsl(0, 0%, 10%); //* Cod Grey
$color-black-800: hsl(0, 0%, 20%); //* Mine Shaft Grey
