//* BACKGROUNDS

.u-bg-accent-100 {
  background-color: $clr-accent-100;
}

.u-bg-black {
  background-color: $clr-black;
}

.u-bg-primary-100 {
  background-color: $clr-primary-100;
}

.u-bg-white {
  background-color: $clr-white;
}

.u-bg-white-100 {
  background-color: $clr-white-100;
}

//* CENTER TEXT

.u-center-text {
  text-align: center !important;
}

.u-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;

  @include respond(tablet) {
    max-width: 72rem;
  }
}

//* FONT SIZE

.u-fs-300 {
  font-size: $fs-300;
}

.u-fs-400 {
  font-size: $fs-400;
}

.u-fs-500 {
  font-size: $fs-500;
}

.u-fs-600 {
  font-size: $fs-600;
}

.u-fs-700 {
  font-size: $fs-700;
}

.u-fs-800 {
  font-size: $fs-800;
}

//* FONT FAMILY

.u-fs-primary-heading {
  font-size: $fs-primary-heading;
}

.u-fs-secondary-heading {
  font-size: $fs-secondary-heading;
}

//* FONT WEIGHT

.u-fw-bold {
  font-weight: $fw-bold;
}

.u-fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.u-fw-regular {
  font-weight: $fw-regular;
}

//* MARGIN

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

//* TEXT COLOR

.u-text-white {
  color: $clr-white;
}

.u-text-black {
  color: $clr-black;
}

.u-text-primary-100 {
  color: $clr-primary-100;
}

.u-text-primary-200 {
  color: $clr-primary-200;
}
