.landing-page {
  position: relative;

  &__image {
    background-color: orangered;
    height: 80vh;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text-box {
    position: absolute;

    @include absCenter;
  }
}
