.form {
  border-radius: 0.5rem;
  background-color: $color-white-100;
  padding: 2rem;
  margin: 0 auto;
  // height: 100%;

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: $color-primary-300;
    color: $color-white;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    // background-color: $color-primary-300;
    transform: translateY(-0.25rem) scale(1.03);
  }
}
