*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-blue;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////
// * HTML Elements
////////////////////////////////////////

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

////////////////////////////////////////
// * .container
////////////////////////////////////////

// .container {
//   width: 100%;
//   max-width: 960px;
//   margin: 0 auto;
//   padding: 0 20px;
//   text-align: center;
// }
