.container {
  max-width: 43rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
  overflow: hidden;

  position: relative;

  .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;

    transition: height 0.2s ease;
  }

  .form {
    background: $color-white;
    width: 50%;
    padding: 3rem;

    transition: margin-left 0.2s ease;
  }

  &.active .login {
    margin-left: -50%;
    opacity: 0;

    transition: margin-left 0.2s ease, opacity 0.15s ease;
  }

  .signup {
    opacity: 0;

    transition: opacity 0.09s ease;
  }

  &.active .signup {
    opacity: 1;

    transition: opacity 0.2s ease;
  }

  &.active .forms {
    height: 60rem;
  }

  .form .title {
    font-size: 2.7rem;
    font-weight: 600;

    position: relative;
  }
}
