$color-primary: #40a040; // Apple Green

$color-green-forest: #208020; // Forest Green
$color-green-mantis: #60c060; // Mantis Green
$color-green-camarone: #006000; // Camarone Green
$color-green-sulu: #90f090; // Sulu Green

$color-yellow-shalimar: #90f090; // Shalimar Yellow

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;