*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #05773c; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  padding: 3rem; }

.button {
  padding: 1rem 2rem;
  min-width: 10rem;
  margin-left: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase; }
  .button--hit, .button--stand, .button--double, .button--split {
    display: none; }
  .button--deal {
    padding: 1rem 3rem;
    font-size: 3rem; }

/* Cards */
.card {
  height: 20rem;
  width: 13.5rem;
  padding: 1rem 0.75rem;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  left: 10rem;
  display: inline-block;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .card__cover {
    background: brown;
    background: linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0, linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px, linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px, brown;
    background-size: 1.5rem 3rem; }
  .card__top, .card__bottom {
    width: 100%;
    display: flex;
    align-items: left;
    font-size: 3rem;
    line-height: 2.5rem; }
  .card__corner {
    height: 5.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .card__content {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem; }
  .card__bottom {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); }

/* Suits */
.clubs,
.spades {
  color: #000; }

.diams,
.hearts {
  color: red; }

.clubs .suit::after {
  content: "\2663"; }

.diams .suit::after {
  content: "\2666"; }

.hearts .suit::after {
  content: "\2665"; }

.spades .suit::after {
  content: "\2660"; }

.sidebar {
  height: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .sidebar__image img {
    height: 35rem;
    width: 35rem; }
  .sidebar__message {
    color: #fff;
    font-size: 2rem; }
  .sidebar__score {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .sidebar__score .box-score {
      height: 10rem;
      width: 12rem;
      padding: 1rem;
      border: 1px solid #000;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: Arial;
      font-size: 1rem;
      color: #fff; }
      .sidebar__score .box-score h1 {
        text-transform: uppercase; }
        .sidebar__score .box-score h1 .value {
          font-size: 2.75rem; }
  .sidebar__change-stake {
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + (2 * 6rem)); }

.playing-area {
  height: 70rem;
  width: 70rem;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .playing-area__dealer, .playing-area__player {
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative; }
    .playing-area__dealer .card-box, .playing-area__player .card-box {
      width: 15rem;
      height: 22.5rem;
      border: 1.5px solid #fdc269;
      border-radius: 1rem;
      position: relative; }
    .playing-area__dealer .card-value, .playing-area__player .card-value {
      position: absolute;
      left: 2rem;
      top: 5rem;
      font-size: 1.75rem; }
  .playing-area__player {
    height: 30rem; }
    .playing-area__player .button-menu {
      width: 100%;
      display: flex;
      align-self: center;
      justify-content: center; }

.section-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
