$colors: (
  primary: (
    100: hsl(213, 100%, 98%),
    200: hsl(195, 43%, 79%),
    300: hsl(202, 61%, 67%),
    400: hsl(202, 61%, 47%),
    500: hsl(209, 78%, 35%),
  ),
  secondary: (
    100: hsl(14, 100%, 80%),
    200: hsl(14, 100%, 70%),
    300: hsl(14, 87%, 49%),
    400: hsl(12, 87%, 37%),
    500: hsl(14, 100%, 20%),
  ),
  "white": (
    0: hsl(0, 0%, 100%),
    100: hsl(0, 0%, 95%),
    200: hsl(0, 0%, 87%),
    300: hsl(0, 0%, 80%),
  ),
  neutral: (
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 50%),
    600: hsl(0, 0%, 40%),
    700: hsl(0, 0%, 30%),
  ),
  "black": (
    800: hsl(0, 0%, 20%),
    900: hsl(0, 0%, 10%),
    1000: hsl(0, 0%, 0%),
  ),
);
