// * COLOR

// BACKGROUNDS

.u-bg-white {
  background-color: $clr-white;
}

.u-bg-white-100 {
  background-color: $clr-white-100;
}

// .u-bg-primary-200 {
//   background-color: $clr-primary-200;
// }

.u-bg-primary-300 {
  background-color: $clr-primary-300;
}

.u-bg-primary-400 {
  background-color: $clr-primary-400;
}

.u-bg-black {
  background-color: $clr-black;
}

// TEXT

.u-text-white {
  color: $clr-white;
}

.u-text-black {
  color: $clr-black;
}

.u-text-primary-100 {
  color: $clr-primary-100;
}

.u-text-primary-200 {
  color: $clr-primary-200;
}

.u-text-primary-300 {
  color: $clr-primary-300;
}
