$default-font-size: 1.6rem;
$max-ch-width: 70ch;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-third: "Montserrat", serif;
$ff-body: $font-primary;
$ff-heading: $font-primary;

$fs-body: clamp(1.4rem, 1.5vw, 1.6rem);
$fs-primary-heading: clamp(2.5rem, 3vw, 3.5rem);
$fs-secondary-heading: clamp(2.5rem, 2.75vw, 3rem);
$fs-nav: clamp(1.6rem, 1.8vw, 2rem);
$fs-button: 1.3rem;

body {
  font-family: $ff-body;
  font-size: $default-font-size;
  line-height: 1.7;
  text-rendering: optimizeSpeed;
}

.heading-logo {
  color: var(--clr-white-0);
}

.heading-hero {
  margin-bottom: 3.5rem;
  max-width: 30ch;

  color: var(--clr-white-0);
  font-family: $ff-heading;
  font-size: clamp(3.5rem, 4.5vw, 5.5rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  letter-spacing: 2px;
  line-height: 1.3;

  @include respond(tab-port) {
    margin-inline: auto;
  }

  span {
    color: var(--clr-primary-300);
  }
}

.heading-one {
  // color: var(--clr-primary-500);
  font-family: $font-third;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    padding-top: 0.6rem;
    border-bottom: 4px solid var(--clr-primary-500);
  }
}

.heading-two {
  margin-bottom: 1rem;

  font-family: $font-primary;
  font-size: clamp(2rem, 2.5vw, 3rem);
  font-weight: var(--fw-bold);

  text-transform: uppercase;

  @include respond(phone) {
    text-align: center;
  }
}

.heading-three {
  color: $clr-primary-200;
  font-family: $font-secondary;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;

  &--light {
    color: $clr-primary-100;
  }
}

.paragraph {
  max-width: 65ch;

  color: $clr-primary-100;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  letter-spacing: 0.15rem;
  line-height: 2;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
