$box-sizes: (
  auto: auto,
  0: 0,
  "0_5": 0.5,
  "0_75": 0.75,
  1: 1,
  "1_5": 1.5,
  2: 2,
  "2_5": 2.5,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  xsm: 1,
  sm: 2,
  md: 4,
  lg: 6,
  xl: 8,
  2xl: 10,
);

$font-size: (
  300: 1.3,
  400: 1.4,
  500: 1.5,
  600: 1.6,
  700: 2,
  750: 2.5,
  800: 3,
  850: 3.5,
  900: 4,
);

$font-weights: (
  regular: 400,
  semi-bold: 500,
  bold: 700,
);

$grid-templates: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  none: none,
);

$grid-columns: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  auto: auto,
);

$grid-rows: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  auto: auto,
);

$grid-gaps: (
  "0_5": 0.5,
  1: 1,
  "1_5": 1.5,
  2: 2,
  "2_5": 2.5,
  3: 3,
  "3_5": 3.5,
  4: 4,
  "4_5": 4.5,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
);

$layout-sizes: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  auto: auto,
  "1-2": 50%,
  "1-3": 33.333333%,
  "2-3": 66.666667%,
  "1-4": 25%,
  "2-4": 50%,
  "3-4": 75%,
  full: 100%,
);
