.header {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 8rem;
  width: 100%;
  padding: 1rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;

  &__span {
    @include respond(sm) {
      display: none;
    }
  }
}
