.form,
.content {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  &__control {
    background-color: var(--clr-white-0);
    background-image: none;
    height: 3.4rem;
    border: 1px solid var(--clr-white-0);
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;

    display: block;

    font-size: 1.4rem;
    line-height: 1.42857143;
  }

  &__group {
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__submit {
    margin-top: 1rem;

    display: flex;
    justify-content: flex-end;
  }
}

.form-group {
  input,
  textarea,
  select {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;

    font-family: inherit;
  }

  label {
    margin: 0 0 5px 3px;

    display: block;

    text-align: left;
  }
}
