.tip {
  height: 7rem;
  width: 50vw;
  border: 2px solid var(--clr-neutral-400);
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.05);

  &__home,
  &__away {
    display: flex;

    font-weight: var(--fw-bold);

    & > * {
      min-width: 6rem;
      margin-inline: 1rem;

      display: grid;
      place-content: center;
    }
  }

  &__details {
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
    letter-spacing: 0.15rem;
    text-align: center;
  }
}
