*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #40a040; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  padding: 3rem; }

.playing-field {
  border-color: #208020 #60c060 #60c060 #208020;
  border-style: solid;
  border-width: 1px;
  color: #000;
  margin-bottom: 0.8rem;
  padding: 4px;
  text-align: left; }
  .playing-field::after {
    content: "";
    display: table;
    clear: both; }

.cardArea {
  font-size: 20pt;
  height: 8rem;
  position: relative;
  padding: 2rem; }

.poker-container {
  display: grid;
  width: 100vw;
  height: 100vh; }
  .poker-container .poker-table {
    justify-self: center;
    align-self: center;
    max-width: 800px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    background-color: #4d2712;
    border-radius: 180px;
    position: relative;
    display: grid; }
    .poker-container .poker-table .outside-ring {
      max-width: 740px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      background: #36aa25;
      background: radial-gradient(circle, #36aa25 -30%, #073602 90%);
      position: absolute;
      border-radius: 180px;
      justify-self: center;
      align-self: center;
      border: 5px #c29f41 solid; }
    .poker-container .poker-table .inside-ring {
      max-width: 640px;
      max-height: 200px;
      width: 100%;
      height: 100%;
      border: 5px rgba(255, 255, 255, 0.5) solid;
      position: absolute;
      justify-self: center;
      align-self: center;
      border-radius: 180px; }

.text-box {
  background-color: #ffffc0;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  clear: right;
  color: #000;
  float: right;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  text-align: center;
  width: 12rem; }

.name {
  background-color: #208020;
  border-color: #60c060 #006000 #006000 #60c060;
  color: #ffffc0; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + (2 * 6rem)); }
