.menu-icon {
  display: none;

  @include respond(tab-port) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.NavbarItems {
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  @include respond(tab-port) {
    position: relative;
  }
}

.navbar-logo {
  color: $color-white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;

  @include respond(tab-port) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;

  @include respond(tab-port) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
}

.nav-menu.active {
  @include respond(tab-port) {
    background: $color-blue-200;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}

.nav-links {
  color: $color-white;
  text-decoration: none;
  padding: 0.5em 1rem;

  @include respond(tab-port) {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  &:hover {
    background-color: $color-blue-100;
    border-radius: 4px;
    transition: all 0.2s ease-out;

    @include respond(tab-port) {
      background-color: $color-blue-300;
      border-radius: 0;
    }
  }
}

.nav-links-mobile {
  display: none;

  @include respond(tab-port) {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: $color-blue-50;
    text-decoration: none;
    color: $color-white;
    font-size: 1.5rem;
  }

  &:hover {
    @include respond(tab-port) {
      background: $color-white;
      color: $color-blue-200;
      transition: 250ms;
    }
  }
}
