.article-contact {
  &__details {
    margin-inline: auto;
    // width: min(80%, 80rem);
    width: min(40%, 40rem);
    border-radius: 0.5rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    a {
      &:visited {
        color: black;
      }
    }

    & > * {
      background-color: var(--clr-white-0);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
      padding: 2rem;
      width: 100%;

      text-align: center;
    }
  }
}
