.grid {
  &__container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__header {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filter-btns {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      cursor: pointer;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      padding: 0.8rem 1.6rem;
      text-transform: uppercase;
    }
  }
}
