// GRID

.u-grid {
  display: grid;
}

// * PLACE CONTENT

.u-place-content-center {
  place-content: center;
}

.u-place-content-start {
  place-content: start !important;
}

.u-place-content-start-center {
  place-content: start center !important;
}

// GRID COLUMNS

.u-col-span-full {
  grid-column: 1 / -1;
}

// GRID TEMPLATE

.u-auto-columns {
  width: 100%;

  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.u-even-columns {
  grid-template-columns: repeat(2, 1fr);

  & > * {
    display: grid;
    place-content: center;
  }
  @include respond(tab-port) {
    display: block;
  }
}
