.label {
  --padding-top-bottom: 0.6rem;
  --padding-left-right: 1.2rem;

  max-width: max-content;
  background-color: var(--clr-white-0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: var(--padding-top-bottom) var(--padding-left-right);

  color: var(--clr-white-0);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-decoration: none;

  @include respond(tab-port) {
    margin-inline: auto;
  }

  &--aqua {
    background-color: aqua;
  }
  &--black {
    background-color: black;
  }

  &--blue {
    background-color: blue;
  }

  &--cornflowerblue {
    background-color: cornflowerblue;
  }

  &--crimson {
    background-color: crimson;
  }

  &--darkgrey {
    background-color: darkgrey;
  }

  &--darkslategrey {
    background-color: darkslategrey;
  }

  &--deeppink {
    background-color: deeppink;
  }

  &--dodgerblue {
    background-color: dodgerblue;
  }

  &--deepskyblue {
    background-color: deepskyblue;
  }

  &--firebrick {
    background-color: firebrick;
  }

  &--green {
    background-color: green;
  }

  &--hotpink {
    background-color: hotpink;
  }

  &--lightskyblue {
    background-color: lightskyblue;
  }

  &--hotpink {
    background-color: hotpink;
  }

  &--orange {
    background-color: orange;
  }

  &--orangered {
    background-color: orangered;
  }

  &--steelblue {
    background-color: steelblue;
  }

  &--forestgreen {
    background-color: forestgreen;
  }

  &--mediumseagreen {
    background-color: mediumseagreen;
  }

  &--midnightblue {
    background-color: midnightblue;
  }

  &--limegreen {
    background-color: limegreen;
  }

  &--palevioletred {
    background-color: palevioletred;
  }

  &--rebeccapurple {
    background-color: rebeccapurple;
  }

  &--yellow {
    background-color: yellow;
  }

  &--yellowgreen {
    background-color: yellowgreen;
  }
}
