.project {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  &__image {
    object-fit: contain;
    height: 20rem;
  }

  &__description {
    min-height: min(8rem, 12rem);
  }

  &__button {
    background-color: var(--clr-primary-500);

    width: 10rem;
    padding: 0.25em 1rem;
    border-radius: 1rem;
    margin-inline: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--clr-white-0);

    &:hover {
      background-color: var(--clr-primary-400);
    }
  }
}
