.project {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image {
    border-bottom: 1px solid rgba($clr-black, 0.3);
    object-fit: cover;
  }

  &__buttons,
  &__labels,
  &__title {
    padding: 2rem;
  }

  &__labels {
    min-height: 12rem;

    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0rem 0.5rem;
  }

  // &__description {
  //   min-height: min(8rem, 12rem);
  // }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
