<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="#" />
    <script src="js/script.js" defer></script>
    <title>Modal</title>
  </head>
  <body>
    <main>
      HELLO WORLD

      <h2>Modal Example</h2>

      <!-- Trigger/Open The Modal -->
      <button id="myBtn">Open Modal</button>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <!-- <span class="close">&times;</span> -->
          <img
            class="modal-image"
            src="https://gazjosef.github.io/hosted-assets/social-sharing-image.webp"
            alt="Rush Logo"
          />
          <p>Are you 18 years or older?</p>
          <div class="btns">
            <button class="btn btn--yes">
              <a href="https://rushwines.com.au/">Yes</a>
            </button>
            <button class="btn">
              <a href="https://www.google.com/">No</a>
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
