//* COLORS

//* --- Primary
$clr-primary-100: #0c2d48; // Downriver Blue
$clr-primary-200: #145da0; // Fun Blue
$clr-primary-300: #2e8bc0; // Curious Blue
$clr-primary-400: hsl(195, 43%, 79%); // Ziggurat Blue
$clr-primary-500: hsl(228, 39%, 23%);

$clr-accent-500: hsl(12, 60%, 45%);
$clr-accent-400: hsl(12, 88%, 59%);
$clr-accent-300: hsl(12, 88%, 75%);
$clr-accent-100: hsl(13, 100%, 96%);

//* --- Secondary
$clr-secondary: #c0632e; // Tuscany Yellow

//* --- White To Black
$clr-white: hsl(0, 0%, 100%); // ffffff | White
$clr-white-50: hsl(0, 0%, 95%); // f2f2f2 | Concrete White
$clr-white-100: hsl(0, 0%, 90%); // e6e6e6 | Mercury White
$clr-white-200: hsl(0, 0%, 80%); // cccccc | Silver White
$clr-grey-300: hsl(0, 0%, 70%); // b3b3b3 | Nobel Grey
$clr-grey-400: hsl(0, 0%, 60%); // 999999 | Dusty Grey
$clr-grey-500: hsl(0, 0%, 50%); // 808080 | Grey
$clr-grey-600: hsl(0, 0%, 40%); // 666666 | Dove Grey
$clr-grey-700: hsl(0, 0%, 30%); // 4d4d4d | Tundora Grey
$clr-black-800: hsl(0, 0%, 20%); // 333333 | Mine Shaft Grey
$clr-black-900: hsl(0, 0%, 10%); // 1a1a1a | Cod Grey
$clr-black: hsl(0, 0%, 0%); // 000000 | Black
