:root {
  --clr-primary-50: hsl(213, 100%, 98%);
  --clr-primary-100: hsl(223, 48%, 69%);
  --clr-primary-200: hsl(219, 89%, 70%);
  --clr-primary-300: hsl(219, 89%, 60%);
  --clr-primary-400: hsl(223, 100%, 33%);
  --clr-primary-500: hsl(223, 100%, 13%);
  --clr-secondary-100: hsl(51, 100%, 50%);
  --clr-secondary-200: hsl(120, 100%, 25%);
  --clr-white-0: hsl(0, 0%, 100%);
  --clr-white-100: hsl(0, 0%, 95%);
  --clr-white-200: hsl(0, 0%, 87%);
  --clr-white-300: hsl(0, 0%, 80%);
  --clr-neutral-400: hsl(0, 0%, 60%);
  --clr-neutral-500: hsl(0, 0%, 50%);
  --clr-neutral-600: hsl(0, 0%, 40%);
  --clr-neutral-700: hsl(0, 0%, 30%);
  --clr-black-800: hsl(0, 0%, 20%);
  --clr-black-900: hsl(0, 0%, 10%);
  --clr-black-1000: hsl(0, 0%, 0%);
}

.u-bg-primary-50 {
  background-color: hsl(213, 100%, 98%);
}

.u-bg-primary-100 {
  background-color: hsl(223, 48%, 69%);
}

.u-bg-primary-200 {
  background-color: hsl(219, 89%, 70%);
}

.u-bg-primary-300 {
  background-color: hsl(219, 89%, 60%);
}

.u-bg-primary-400 {
  background-color: hsl(223, 100%, 33%);
}

.u-bg-primary-500 {
  background-color: hsl(223, 100%, 13%);
}

.u-bg-secondary-100 {
  background-color: hsl(51, 100%, 50%);
}

.u-bg-secondary-200 {
  background-color: hsl(120, 100%, 25%);
}

.u-bg-white-0 {
  background-color: hsl(0, 0%, 100%);
}

.u-bg-white-100 {
  background-color: hsl(0, 0%, 95%);
}

.u-bg-white-200 {
  background-color: hsl(0, 0%, 87%);
}

.u-bg-white-300 {
  background-color: hsl(0, 0%, 80%);
}

.u-bg-neutral-400 {
  background-color: hsl(0, 0%, 60%);
}

.u-bg-neutral-500 {
  background-color: hsl(0, 0%, 50%);
}

.u-bg-neutral-600 {
  background-color: hsl(0, 0%, 40%);
}

.u-bg-neutral-700 {
  background-color: hsl(0, 0%, 30%);
}

.u-bg-black-800 {
  background-color: hsl(0, 0%, 20%);
}

.u-bg-black-900 {
  background-color: hsl(0, 0%, 10%);
}

.u-bg-black-1000 {
  background-color: hsl(0, 0%, 0%);
}

.u-clr-primary-50 {
  color: hsl(213, 100%, 98%);
}

.u-clr-primary-100 {
  color: hsl(223, 48%, 69%);
}

.u-clr-primary-200 {
  color: hsl(219, 89%, 70%);
}

.u-clr-primary-300 {
  color: hsl(219, 89%, 60%);
}

.u-clr-primary-400 {
  color: hsl(223, 100%, 33%);
}

.u-clr-primary-500 {
  color: hsl(223, 100%, 13%);
}

.u-clr-secondary-100 {
  color: hsl(51, 100%, 50%);
}

.u-clr-secondary-200 {
  color: hsl(120, 100%, 25%);
}

.u-clr-white-0 {
  color: hsl(0, 0%, 100%);
}

.u-clr-white-100 {
  color: hsl(0, 0%, 95%);
}

.u-clr-white-200 {
  color: hsl(0, 0%, 87%);
}

.u-clr-white-300 {
  color: hsl(0, 0%, 80%);
}

.u-clr-neutral-400 {
  color: hsl(0, 0%, 60%);
}

.u-clr-neutral-500 {
  color: hsl(0, 0%, 50%);
}

.u-clr-neutral-600 {
  color: hsl(0, 0%, 40%);
}

.u-clr-neutral-700 {
  color: hsl(0, 0%, 30%);
}

.u-clr-black-800 {
  color: hsl(0, 0%, 20%);
}

.u-clr-black-900 {
  color: hsl(0, 0%, 10%);
}

.u-clr-black-1000 {
  color: hsl(0, 0%, 0%);
}

:root {
  --fs-300: 1.3rem;
  --fs-400: 1.4rem;
  --fs-500: 1.5rem;
  --fs-600: 1.6rem;
  --fs-700: 2rem;
  --fs-750: 2.5rem;
  --fs-800: 3rem;
  --fs-850: 3.5rem;
  --fs-900: 4rem;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

.u-fs-300 {
  font-size: 1.3rem;
}

.u-fs-400 {
  font-size: 1.4rem;
}

.u-fs-500 {
  font-size: 1.5rem;
}

.u-fs-600 {
  font-size: 1.6rem;
}

.u-fs-700 {
  font-size: 2rem;
}

.u-fs-750 {
  font-size: 2.5rem;
}

.u-fs-800 {
  font-size: 3rem;
}

.u-fs-850 {
  font-size: 3.5rem;
}

.u-fs-900 {
  font-size: 4rem;
}

.u-fw-regular {
  font-weight: 400;
}

.u-fw-semi-bold {
  font-weight: 500;
}

.u-fw-bold {
  font-weight: 700;
}

.u-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.u-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.u-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.u-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.u-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.u-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.u-grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.u-grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.u-grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.u-grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.u-grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.u-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.u-grid-cols-none {
  grid-template-columns: none;
}

.u-col-span-1 {
  grid-column: span 1/span 1;
}

.u-col-span-2 {
  grid-column: span 2/span 2;
}

.u-col-span-3 {
  grid-column: span 3/span 3;
}

.u-col-span-4 {
  grid-column: span 4/span 4;
}

.u-col-span-5 {
  grid-column: span 5/span 5;
}

.u-col-span-6 {
  grid-column: span 6/span 6;
}

.u-col-span-7 {
  grid-column: span 7/span 7;
}

.u-col-span-8 {
  grid-column: span 8/span 8;
}

.u-col-span-9 {
  grid-column: span 9/span 9;
}

.u-col-span-10 {
  grid-column: span 10/span 10;
}

.u-col-span-11 {
  grid-column: span 11/span 11;
}

.u-col-span-12 {
  grid-column: span 12/span 12;
}

.u-col-span-auto {
  grid-column: auto;
}

.u-col-start-1 {
  grid-column-start: 1;
}

.u-col-start-2 {
  grid-column-start: 2;
}

.u-col-start-3 {
  grid-column-start: 3;
}

.u-col-start-4 {
  grid-column-start: 4;
}

.u-col-start-5 {
  grid-column-start: 5;
}

.u-col-start-6 {
  grid-column-start: 6;
}

.u-col-start-7 {
  grid-column-start: 7;
}

.u-col-start-8 {
  grid-column-start: 8;
}

.u-col-start-9 {
  grid-column-start: 9;
}

.u-col-start-10 {
  grid-column-start: 10;
}

.u-col-start-11 {
  grid-column-start: 11;
}

.u-col-start-12 {
  grid-column-start: 12;
}

.u-col-start-auto {
  grid-column-start: auto;
}

.u-col-end-1 {
  grid-column-end: 1;
}

.u-col-end-2 {
  grid-column-end: 2;
}

.u-col-end-3 {
  grid-column-end: 3;
}

.u-col-end-4 {
  grid-column-end: 4;
}

.u-col-end-5 {
  grid-column-end: 5;
}

.u-col-end-6 {
  grid-column-end: 6;
}

.u-col-end-7 {
  grid-column-end: 7;
}

.u-col-end-8 {
  grid-column-end: 8;
}

.u-col-end-9 {
  grid-column-end: 9;
}

.u-col-end-10 {
  grid-column-end: 10;
}

.u-col-end-11 {
  grid-column-end: 11;
}

.u-col-end-12 {
  grid-column-end: 12;
}

.u-col-end-auto {
  grid-column-end: auto;
}

.u-row-span-1 {
  grid-row: span 1/span 1;
}

.u-row-span-2 {
  grid-row: span 2/span 2;
}

.u-row-span-3 {
  grid-row: span 3/span 3;
}

.u-row-span-4 {
  grid-row: span 4/span 4;
}

.u-row-span-5 {
  grid-row: span 5/span 5;
}

.u-row-span-6 {
  grid-row: span 6/span 6;
}

.u-row-span-7 {
  grid-row: span 7/span 7;
}

.u-row-span-auto {
  grid-row: auto;
}

.u-row-start-1 {
  grid-row-start: 1;
}

.u-row-start-2 {
  grid-row-start: 2;
}

.u-row-start-3 {
  grid-row-start: 3;
}

.u-row-start-4 {
  grid-row-start: 4;
}

.u-row-start-5 {
  grid-row-start: 5;
}

.u-row-start-6 {
  grid-row-start: 6;
}

.u-row-start-7 {
  grid-row-start: 7;
}

.u-row-start-auto {
  grid-row-start: auto;
}

.u-row-end-1 {
  grid-row-end: 1;
}

.u-row-end-2 {
  grid-row-end: 2;
}

.u-row-end-3 {
  grid-row-end: 3;
}

.u-row-end-4 {
  grid-row-end: 4;
}

.u-row-end-5 {
  grid-row-end: 5;
}

.u-row-end-6 {
  grid-row-end: 6;
}

.u-row-end-7 {
  grid-row-end: 7;
}

.u-row-end-auto {
  grid-row-end: auto;
}

.u-gap-0-5 {
  gap: 0.5rem;
}

.u-gap-1 {
  gap: 1rem;
}

.u-gap-1-5 {
  gap: 1.5rem;
}

.u-gap-2 {
  gap: 2rem;
}

.u-gap-2-5 {
  gap: 2.5rem;
}

.u-gap-3 {
  gap: 3rem;
}

.u-gap-3-5 {
  gap: 3.5rem;
}

.u-gap-4 {
  gap: 4rem;
}

.u-gap-4-5 {
  gap: 4.5rem;
}

.u-gap-5 {
  gap: 5rem;
}

.u-gap-6 {
  gap: 6rem;
}

.u-gap-7 {
  gap: 7rem;
}

.u-gap-8 {
  gap: 8rem;
}

.u-gap-9 {
  gap: 9rem;
}

.u-gap-10 {
  gap: 10rem;
}

.u-gap-11 {
  gap: 11rem;
}

.u-gap-12 {
  gap: 12rem;
}

.u-gap-x-0-5 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.u-gap-x-1 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.u-gap-x-1-5 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.u-gap-x-2 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.u-gap-x-2-5 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}

.u-gap-x-3 {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.u-gap-x-3-5 {
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}

.u-gap-x-4 {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.u-gap-x-4-5 {
  -moz-column-gap: 4.5rem;
       column-gap: 4.5rem;
}

.u-gap-x-5 {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}

.u-gap-x-6 {
  -moz-column-gap: 6rem;
       column-gap: 6rem;
}

.u-gap-x-7 {
  -moz-column-gap: 7rem;
       column-gap: 7rem;
}

.u-gap-x-8 {
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}

.u-gap-x-9 {
  -moz-column-gap: 9rem;
       column-gap: 9rem;
}

.u-gap-x-10 {
  -moz-column-gap: 10rem;
       column-gap: 10rem;
}

.u-gap-x-11 {
  -moz-column-gap: 11rem;
       column-gap: 11rem;
}

.u-gap-x-12 {
  -moz-column-gap: 12rem;
       column-gap: 12rem;
}

.u-gap-y-0-5 {
  row-gap: 0.5rem;
}

.u-gap-y-1 {
  row-gap: 1rem;
}

.u-gap-y-1-5 {
  row-gap: 1.5rem;
}

.u-gap-y-2 {
  row-gap: 2rem;
}

.u-gap-y-2-5 {
  row-gap: 2.5rem;
}

.u-gap-y-3 {
  row-gap: 3rem;
}

.u-gap-y-3-5 {
  row-gap: 3.5rem;
}

.u-gap-y-4 {
  row-gap: 4rem;
}

.u-gap-y-4-5 {
  row-gap: 4.5rem;
}

.u-gap-y-5 {
  row-gap: 5rem;
}

.u-gap-y-6 {
  row-gap: 6rem;
}

.u-gap-y-7 {
  row-gap: 7rem;
}

.u-gap-y-8 {
  row-gap: 8rem;
}

.u-gap-y-9 {
  row-gap: 9rem;
}

.u-gap-y-10 {
  row-gap: 10rem;
}

.u-gap-y-11 {
  row-gap: 11rem;
}

.u-gap-y-12 {
  row-gap: 12rem;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mt-0 {
  margin-top: 0rem !important;
}

.u-mt-0-5 {
  margin-top: 0.5rem !important;
}

.u-mt-1 {
  margin-top: 1rem !important;
}

.u-mt-1-5 {
  margin-top: 1.5rem !important;
}

.u-mt-2 {
  margin-top: 2rem !important;
}

.u-mt-2-5 {
  margin-top: 2.5rem !important;
}

.u-mt-3 {
  margin-top: 3rem !important;
}

.u-mt-4 {
  margin-top: 4rem !important;
}

.u-mt-5 {
  margin-top: 5rem !important;
}

.u-mt-6 {
  margin-top: 6rem !important;
}

.u-mt-7 {
  margin-top: 7rem !important;
}

.u-mt-8 {
  margin-top: 8rem !important;
}

.u-mt-9 {
  margin-top: 9rem !important;
}

.u-mt-10 {
  margin-top: 10rem !important;
}

.u-mt-14 {
  margin-top: 14rem !important;
}

.u-mt-16 {
  margin-top: 16rem !important;
}

.u-mt-20 {
  margin-top: 20rem !important;
}

.u-mt-xsm {
  margin-top: 1rem !important;
}

.u-mt-sm {
  margin-top: 2rem !important;
}

.u-mt-md {
  margin-top: 4rem !important;
}

.u-mt-lg {
  margin-top: 6rem !important;
}

.u-mt-xl {
  margin-top: 8rem !important;
}

.u-mt-2xl {
  margin-top: 10rem !important;
}

.u-mt-3xl {
  margin-top: 12rem !important;
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-mb-0 {
  margin-bottom: 0rem !important;
}

.u-mb-0-5 {
  margin-bottom: 0.5rem !important;
}

.u-mb-1 {
  margin-bottom: 1rem !important;
}

.u-mb-1-5 {
  margin-bottom: 1.5rem !important;
}

.u-mb-2 {
  margin-bottom: 2rem !important;
}

.u-mb-2-5 {
  margin-bottom: 2.5rem !important;
}

.u-mb-3 {
  margin-bottom: 3rem !important;
}

.u-mb-4 {
  margin-bottom: 4rem !important;
}

.u-mb-5 {
  margin-bottom: 5rem !important;
}

.u-mb-6 {
  margin-bottom: 6rem !important;
}

.u-mb-7 {
  margin-bottom: 7rem !important;
}

.u-mb-8 {
  margin-bottom: 8rem !important;
}

.u-mb-9 {
  margin-bottom: 9rem !important;
}

.u-mb-10 {
  margin-bottom: 10rem !important;
}

.u-mb-14 {
  margin-bottom: 14rem !important;
}

.u-mb-16 {
  margin-bottom: 16rem !important;
}

.u-mb-20 {
  margin-bottom: 20rem !important;
}

.u-mb-xsm {
  margin-bottom: 1rem !important;
}

.u-mb-sm {
  margin-bottom: 2rem !important;
}

.u-mb-md {
  margin-bottom: 4rem !important;
}

.u-mb-lg {
  margin-bottom: 6rem !important;
}

.u-mb-xl {
  margin-bottom: 8rem !important;
}

.u-mb-2xl {
  margin-bottom: 10rem !important;
}

.u-mb-3xl {
  margin-bottom: 12rem !important;
}

.u-ml-auto {
  margin-left: auto;
}

.u-ml-0 {
  margin-left: 0rem !important;
}

.u-ml-0-5 {
  margin-left: 0.5rem !important;
}

.u-ml-1 {
  margin-left: 1rem !important;
}

.u-ml-1-5 {
  margin-left: 1.5rem !important;
}

.u-ml-2 {
  margin-left: 2rem !important;
}

.u-ml-2-5 {
  margin-left: 2.5rem !important;
}

.u-ml-3 {
  margin-left: 3rem !important;
}

.u-ml-4 {
  margin-left: 4rem !important;
}

.u-ml-5 {
  margin-left: 5rem !important;
}

.u-ml-6 {
  margin-left: 6rem !important;
}

.u-ml-7 {
  margin-left: 7rem !important;
}

.u-ml-8 {
  margin-left: 8rem !important;
}

.u-ml-9 {
  margin-left: 9rem !important;
}

.u-ml-10 {
  margin-left: 10rem !important;
}

.u-ml-14 {
  margin-left: 14rem !important;
}

.u-ml-16 {
  margin-left: 16rem !important;
}

.u-ml-20 {
  margin-left: 20rem !important;
}

.u-ml-xsm {
  margin-left: 1rem !important;
}

.u-ml-sm {
  margin-left: 2rem !important;
}

.u-ml-md {
  margin-left: 4rem !important;
}

.u-ml-lg {
  margin-left: 6rem !important;
}

.u-ml-xl {
  margin-left: 8rem !important;
}

.u-ml-2xl {
  margin-left: 10rem !important;
}

.u-ml-3xl {
  margin-left: 12rem !important;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mr-0 {
  margin-right: 0rem !important;
}

.u-mr-0-5 {
  margin-right: 0.5rem !important;
}

.u-mr-1 {
  margin-right: 1rem !important;
}

.u-mr-1-5 {
  margin-right: 1.5rem !important;
}

.u-mr-2 {
  margin-right: 2rem !important;
}

.u-mr-2-5 {
  margin-right: 2.5rem !important;
}

.u-mr-3 {
  margin-right: 3rem !important;
}

.u-mr-4 {
  margin-right: 4rem !important;
}

.u-mr-5 {
  margin-right: 5rem !important;
}

.u-mr-6 {
  margin-right: 6rem !important;
}

.u-mr-7 {
  margin-right: 7rem !important;
}

.u-mr-8 {
  margin-right: 8rem !important;
}

.u-mr-9 {
  margin-right: 9rem !important;
}

.u-mr-10 {
  margin-right: 10rem !important;
}

.u-mr-14 {
  margin-right: 14rem !important;
}

.u-mr-16 {
  margin-right: 16rem !important;
}

.u-mr-20 {
  margin-right: 20rem !important;
}

.u-mr-xsm {
  margin-right: 1rem !important;
}

.u-mr-sm {
  margin-right: 2rem !important;
}

.u-mr-md {
  margin-right: 4rem !important;
}

.u-mr-lg {
  margin-right: 6rem !important;
}

.u-mr-xl {
  margin-right: 8rem !important;
}

.u-mr-2xl {
  margin-right: 10rem !important;
}

.u-mr-3xl {
  margin-right: 12rem !important;
}

.u-mx-auto {
  margin-inline: auto;
}

.u-mx-0 {
  margin-inline: 0rem;
}

.u-mx-0-5 {
  margin-inline: 0.5rem;
}

.u-mx-1 {
  margin-inline: 1rem;
}

.u-mx-1-5 {
  margin-inline: 1.5rem;
}

.u-mx-2 {
  margin-inline: 2rem;
}

.u-mx-2-5 {
  margin-inline: 2.5rem;
}

.u-mx-3 {
  margin-inline: 3rem;
}

.u-mx-4 {
  margin-inline: 4rem;
}

.u-mx-5 {
  margin-inline: 5rem;
}

.u-mx-6 {
  margin-inline: 6rem;
}

.u-mx-7 {
  margin-inline: 7rem;
}

.u-mx-8 {
  margin-inline: 8rem;
}

.u-mx-9 {
  margin-inline: 9rem;
}

.u-mx-10 {
  margin-inline: 10rem;
}

.u-mx-14 {
  margin-inline: 14rem;
}

.u-mx-16 {
  margin-inline: 16rem;
}

.u-mx-20 {
  margin-inline: 20rem;
}

.u-mx-xsm {
  margin-inline: 1rem;
}

.u-mx-sm {
  margin-inline: 2rem;
}

.u-mx-md {
  margin-inline: 4rem;
}

.u-mx-lg {
  margin-inline: 6rem;
}

.u-mx-xl {
  margin-inline: 8rem;
}

.u-mx-2xl {
  margin-inline: 10rem;
}

.u-mx-3xl {
  margin-inline: 12rem;
}

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.u-my-0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.u-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-my-1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.u-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-my-2-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.u-my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.u-my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.u-my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.u-my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.u-my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.u-my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-my-9 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.u-my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.u-my-14 {
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.u-my-16 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.u-my-20 {
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.u-my-xsm {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-my-sm {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-my-md {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.u-my-lg {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.u-my-xl {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-my-2xl {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.u-my-3xl {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.u-pt-auto {
  padding-top: auto;
}

.u-pt-0 {
  padding-top: 0rem;
}

.u-pt-0-5 {
  padding-top: 0.5rem;
}

.u-pt-1 {
  padding-top: 1rem;
}

.u-pt-1-5 {
  padding-top: 1.5rem;
}

.u-pt-2 {
  padding-top: 2rem;
}

.u-pt-2-5 {
  padding-top: 2.5rem;
}

.u-pt-3 {
  padding-top: 3rem;
}

.u-pt-4 {
  padding-top: 4rem;
}

.u-pt-5 {
  padding-top: 5rem;
}

.u-pt-6 {
  padding-top: 6rem;
}

.u-pt-7 {
  padding-top: 7rem;
}

.u-pt-8 {
  padding-top: 8rem;
}

.u-pt-9 {
  padding-top: 9rem;
}

.u-pt-10 {
  padding-top: 10rem;
}

.u-pt-14 {
  padding-top: 14rem;
}

.u-pt-16 {
  padding-top: 16rem;
}

.u-pt-20 {
  padding-top: 20rem;
}

.u-pt-xsm {
  padding-top: 1rem;
}

.u-pt-sm {
  padding-top: 2rem;
}

.u-pt-md {
  padding-top: 4rem;
}

.u-pt-lg {
  padding-top: 6rem;
}

.u-pt-xl {
  padding-top: 8rem;
}

.u-pt-2xl {
  padding-top: 10rem;
}

.u-pt-3xl {
  padding-top: 12rem;
}

.u-pb-auto {
  padding-bottom: auto;
}

.u-pb-0 {
  padding-bottom: 0rem;
}

.u-pb-0-5 {
  padding-bottom: 0.5rem;
}

.u-pb-1 {
  padding-bottom: 1rem;
}

.u-pb-1-5 {
  padding-bottom: 1.5rem;
}

.u-pb-2 {
  padding-bottom: 2rem;
}

.u-pb-2-5 {
  padding-bottom: 2.5rem;
}

.u-pb-3 {
  padding-bottom: 3rem;
}

.u-pb-4 {
  padding-bottom: 4rem;
}

.u-pb-5 {
  padding-bottom: 5rem;
}

.u-pb-6 {
  padding-bottom: 6rem;
}

.u-pb-7 {
  padding-bottom: 7rem;
}

.u-pb-8 {
  padding-bottom: 8rem;
}

.u-pb-9 {
  padding-bottom: 9rem;
}

.u-pb-10 {
  padding-bottom: 10rem;
}

.u-pb-14 {
  padding-bottom: 14rem;
}

.u-pb-16 {
  padding-bottom: 16rem;
}

.u-pb-20 {
  padding-bottom: 20rem;
}

.u-pb-xsm {
  padding-bottom: 1rem;
}

.u-pb-sm {
  padding-bottom: 2rem;
}

.u-pb-md {
  padding-bottom: 4rem;
}

.u-pb-lg {
  padding-bottom: 6rem;
}

.u-pb-xl {
  padding-bottom: 8rem;
}

.u-pb-2xl {
  padding-bottom: 10rem;
}

.u-pb-3xl {
  padding-bottom: 12rem;
}

.u-pl-auto {
  padding-left: auto;
}

.u-pl-0 {
  padding-left: 0rem;
}

.u-pl-0-5 {
  padding-left: 0.5rem;
}

.u-pl-1 {
  padding-left: 1rem;
}

.u-pl-1-5 {
  padding-left: 1.5rem;
}

.u-pl-2 {
  padding-left: 2rem;
}

.u-pl-2-5 {
  padding-left: 2.5rem;
}

.u-pl-3 {
  padding-left: 3rem;
}

.u-pl-4 {
  padding-left: 4rem;
}

.u-pl-5 {
  padding-left: 5rem;
}

.u-pl-6 {
  padding-left: 6rem;
}

.u-pl-7 {
  padding-left: 7rem;
}

.u-pl-8 {
  padding-left: 8rem;
}

.u-pl-9 {
  padding-left: 9rem;
}

.u-pl-10 {
  padding-left: 10rem;
}

.u-pl-14 {
  padding-left: 14rem;
}

.u-pl-16 {
  padding-left: 16rem;
}

.u-pl-20 {
  padding-left: 20rem;
}

.u-pl-xsm {
  padding-left: 1rem;
}

.u-pl-sm {
  padding-left: 2rem;
}

.u-pl-md {
  padding-left: 4rem;
}

.u-pl-lg {
  padding-left: 6rem;
}

.u-pl-xl {
  padding-left: 8rem;
}

.u-pl-2xl {
  padding-left: 10rem;
}

.u-pl-3xl {
  padding-left: 12rem;
}

.u-pr-auto {
  padding-right: auto;
}

.u-pr-0 {
  padding-right: 0rem;
}

.u-pr-0-5 {
  padding-right: 0.5rem;
}

.u-pr-1 {
  padding-right: 1rem;
}

.u-pr-1-5 {
  padding-right: 1.5rem;
}

.u-pr-2 {
  padding-right: 2rem;
}

.u-pr-2-5 {
  padding-right: 2.5rem;
}

.u-pr-3 {
  padding-right: 3rem;
}

.u-pr-4 {
  padding-right: 4rem;
}

.u-pr-5 {
  padding-right: 5rem;
}

.u-pr-6 {
  padding-right: 6rem;
}

.u-pr-7 {
  padding-right: 7rem;
}

.u-pr-8 {
  padding-right: 8rem;
}

.u-pr-9 {
  padding-right: 9rem;
}

.u-pr-10 {
  padding-right: 10rem;
}

.u-pr-14 {
  padding-right: 14rem;
}

.u-pr-16 {
  padding-right: 16rem;
}

.u-pr-20 {
  padding-right: 20rem;
}

.u-pr-xsm {
  padding-right: 1rem;
}

.u-pr-sm {
  padding-right: 2rem;
}

.u-pr-md {
  padding-right: 4rem;
}

.u-pr-lg {
  padding-right: 6rem;
}

.u-pr-xl {
  padding-right: 8rem;
}

.u-pr-2xl {
  padding-right: 10rem;
}

.u-pr-3xl {
  padding-right: 12rem;
}

.u-px-auto {
  padding-left: auto;
  padding-right: auto;
}

.u-px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.u-px-0-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.u-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-px-1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.u-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-px-2-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.u-px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.u-px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.u-px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.u-px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.u-px-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.u-px-9 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.u-px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.u-px-14 {
  padding-left: 14rem;
  padding-right: 14rem;
}

.u-px-16 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.u-px-20 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.u-px-xsm {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-px-sm {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-px-md {
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-px-lg {
  padding-left: 6rem;
  padding-right: 6rem;
}

.u-px-xl {
  padding-left: 8rem;
  padding-right: 8rem;
}

.u-px-2xl {
  padding-left: 10rem;
  padding-right: 10rem;
}

.u-px-3xl {
  padding-left: 12rem;
  padding-right: 12rem;
}

.u-py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.u-py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.u-py-0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.u-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-py-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-py-2-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.u-py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.u-py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.u-py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.u-py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.u-py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.u-py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.u-py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.u-py-14 {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.u-py-16 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.u-py-20 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.u-py-xsm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-py-sm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-py-md {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-py-lg {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.u-py-xl {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.u-py-2xl {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.u-py-3xl {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

/*
SCREEN SIZES

0 - 350px:    Phone
350 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- sm-phone
- phone
- tab-port
- tab-land
- big-desktop

TAILWIND

0 - 350px:    Phone
350 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- sm-phone
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
/* Box sizing rules & remove default margin/padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Defines what 1rem is & set core root defaults */
html {
  font-size: 62.5%;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set box-sizing & background color */
body {
  box-sizing: border-box;
  background-color: var(--clr-white-100);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  margin-inline: auto;
  width: min(90%, 120rem);
}

.section {
  min-height: 100vh;
  min-height: 100svh;
  padding: 10rem 20rem;
}
@media (max-width: 75em) {
  .section {
    padding: 7.5rem 15rem;
  }
}
@media (max-width: 56.25em) {
  .section {
    padding: 5rem 10rem;
  }
}
@media (max-width: 37.5em) {
  .section {
    padding: 2.5rem 5rem;
  }
}
@media (max-width: 21.875em) {
  .section {
    padding: 1rem 2rem;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

body {
  color: var(--clr-black-900);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 1.7;
}

.primary-heading {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  font-weight: var(--fw-semi-bold);
}

.secondary-heading {
  color: var(--clr-primary-400);
  font-size: clamp(2.25rem, 2.5vw, 2.75rem);
  font-weight: var(--fw-bold);
  letter-spacing: 0.3rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btn {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  text-align: center;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.btn-moving-gradient {
  height: 55px;
  width: 200px;
  cursor: pointer;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
}
.btn-moving-gradient:hover {
  transition: all 0.5s ease-in-out 0s;
  background-position: 100% 0px;
}
.btn-moving-gradient a {
  color: rgb(255, 255, 255);
}
.btn-moving-gradient a:focus, .btn-moving-gradient a:visited {
  color: rgb(255, 255, 255);
}
.btn-moving-gradient--blue {
  background-image: linear-gradient(90deg, rgb(61, 135, 255), rgb(190, 61, 255), rgb(126, 61, 255));
  box-shadow: rgb(190, 61, 255) 0px 4px 15px 0px;
}

.scrollButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 8rem;
  width: 8rem;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
  color: var(--clr-primary-300);
  font-size: 3rem;
}
.scrollButton__icon {
  font-size: 8rem;
}

.form,
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__control {
  background-color: var(--clr-white-0);
  background-image: none;
  height: 3.4rem;
  border: 1px solid var(--clr-white-0);
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  display: block;
  font-size: 1.4rem;
  line-height: 1.42857143;
}
.form__group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__submit {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: inherit;
}
.form-group label {
  margin: 0 0 5px 3px;
  display: block;
  text-align: left;
}

.table {
  background-color: var(--clr-white-0);
  width: 100%;
  border: 1px solid #dee2e6;
  border-collapse: collapse !important;
  border-spacing: 0;
  border-radius: 5px;
  overflow: hidden;
}
.table thead {
  border-color: inherit;
  display: table-header-group;
  vertical-align: middle;
}
.table thead th {
  background-color: var(--clr-primary-400);
  min-width: 4.6rem;
  border-bottom: 2px solid #dee2e6;
  vertical-align: bottom;
  color: var(--clr-white-0);
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
.table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table__striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: var(--clr-primary-50);
}
.table__striped tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: var(--clr-primary-50);
}

.tip {
  height: 7rem;
  width: 50vw;
  border: 2.5px solid var(--clr-neutral-400);
  border-radius: 0.5rem;
}
.tip__home, .tip__away {
  display: flex;
  font-weight: var(--fw-bold);
}
.tip__home > *, .tip__away > * {
  min-width: 6rem;
  margin-inline: 1rem;
  display: grid;
  place-content: center;
}
.tip__details {
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
  letter-spacing: 0.15rem;
  text-align: center;
}

.header {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
}

.hero {
  width: 40rem;
  border: 0.5px solid var(--clr-white-300);
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  flex-direction: column;
}
.hero:before {
  content: "";
  border: 1px dotted var(--clr-white-300);
  align-self: stretch;
}
.hero__item {
  padding: 2rem;
  overflow: hidden;
  flex: 1;
}
.hero__item--start {
  order: -1;
}

.u-rounded {
  border-radius: 0.4rem;
}

.u-border-dotted {
  border-style: dotted;
}

.u-border {
  border-width: 1px;
}

.u-border-2 {
  border-width: 2px;
}

.u-border-4 {
  border-width: 4px;
}

.u-border-8 {
  border-width: 8px;
}

.u-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.u-h-16 {
  height: 16rem;
}

.u-h-200 {
  height: 20rem;
}

.u-h-full {
  height: 100%;
}

.u-h-min {
  height: -moz-min-content;
  height: min-content;
}

.u-min-h-full {
  min-height: 100%;
}

.u-min-h-screen {
  min-height: 100vh;
}

.u-w-1-2 {
  width: 50%;
}

.u-w-1-3 {
  width: 33.333%;
}

.u-w-2-3 {
  width: 66.666%;
}

.u-w-1-4 {
  width: 25%;
}

.u-w-3-4 {
  width: 75%;
}

.u-w-1-5 {
  width: 20%;
}

.u-w-2-5 {
  width: 40%;
}

.u-w-3-5 {
  width: 60%;
}

.u-w-4-5 {
  width: 80%;
}

.u-w-full {
  width: 100%;
}

.u-flex {
  display: flex;
}

.u-flex-col {
  flex-direction: column;
}

.u-flex-row {
  flex-direction: row;
}

.u-items-start {
  align-items: flex-start !important;
}

.u-items-center {
  align-items: center !important;
}

.u-items-end {
  align-items: flex-end !important;
}

.u-justify-center {
  justify-content: center !important;
}

.u-justify-around {
  justify-content: space-around !important;
}

.u-justify-between {
  justify-content: space-between !important;
}

.u-justify-items-end {
  justify-items: flex-end !important;
}

.u-self-start {
  align-self: flex-start !important;
}

.u-self-end {
  align-self: flex-end !important;
}

.u-grid {
  display: grid;
}

.u-place-content-center {
  place-content: center;
}

.u-place-content-start {
  place-content: start !important;
}

.u-place-content-end {
  place-content: end !important;
}

.u-place-content-start {
  place-content: start !important;
}

.u-place-content-start-center {
  place-content: start center !important;
}

.u-col-span-full {
  grid-column: 1/-1;
}

.u-auto-columns {
  width: 100%;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.u-even-columns {
  grid-template-columns: repeat(2, 1fr);
}
.u-even-columns > * {
  display: grid;
  place-content: center;
}
@media (max-width: 56.25em) {
  .u-even-columns {
    display: block;
  }
}

.u-block {
  display: block;
}

.u-hidden {
  display: none;
}

@media (max-width: 768px) {
  .u-md-hidden {
    background-color: red;
    display: hidden;
  }
}

.u-invisible {
  visibility: hidden;
}

@media (max-width: 640px) {
  .u-sm-invisible {
    background-color: red;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .u-md-invisible {
    background-color: red;
    visibility: hidden;
  }
}

.u-visible {
  visibility: visible;
}

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 6rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-fs-primary-heading {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
}

.u-fs-secondary-heading {
  font-size: clamp(2.25rem, 2.5vw, 2.75rem);
}

.u-fs-button {
  font-size: var(--fs-300);
}

.u-leading-snug {
  line-height: 1.375;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-center-text {
  text-align: center !important;
}

@media (max-width: 768px) {
  .u-center-text-md {
    text-align: center !important;
  }
}

.u-text-right {
  text-align: right !important;
}/*# sourceMappingURL=main.css.map */