$default-font-size: 1.6rem;
$max-ch-width: 70ch;

$font-primary: "Poppins", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-third: "Montserrat", serif;
$ff-body: $font-primary;
$ff-heading: $font-primary;

$fs-body: clamp(1.4rem, 1.5vw, 1.6rem);
$fs-primary-heading: clamp(2.5rem, 3vw, 3.5rem);
$fs-secondary-heading: clamp(2.5rem, 2.75vw, 3rem);
$fs-nav: 1.6rem;
$fs-button: 1.3rem;

body {
  color: var(--clr-black-900);
  font-family: $ff-body;
  font-size: $default-font-size;
  line-height: 1.7;
  text-rendering: optimizeSpeed;
}

.heading-logo {
  font-size: 1.6rem;
  letter-spacing: 0.15rem;

  a {
    color: var(--clr-black-900);
  }

  span {
    font-weight: var(--fw-bold);
  }
}

.nav-links {
  a {
    font-size: $fs-nav;
    letter-spacing: 0.15rem;
  }
}

.heading-hero {
  max-width: 14ch;

  color: var(--clr-white-0);
  font-family: $ff-heading;
  font-size: clamp(3.5rem, 4.5vw, 5.5rem);
  letter-spacing: 2px;
  line-height: 1.3;

  span {
    color: var(--clr-primary-400);
  }

  @include respond(tab-port) {
    margin-inline: auto;
  }
}

.heading-one {
  color: var(--clr-primary-500);
  font-family: $font-third;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  // Underline
  &::after {
    content: "";
    width: 10rem;
    border-bottom: 4px solid var(--clr-primary-500);
    margin-inline: auto;
    padding-top: 0.6rem;

    display: block;
  }
}

.heading-two {
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.heading-three {
  color: $clr-primary-200;
  font-family: $font-secondary;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  max-width: 45ch;

  color: $clr-primary-100;
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  letter-spacing: 0.15rem;
  line-height: 2;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
