.header {
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 15rem;
      }
    
    &__logo {
        height: 5rem;
        transform: scale(2);
    }
}