.sidebar {
  height: 70rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__image {
    img {
      height: 30rem;
      width: 30rem;
    }
  }

  &__score {
    width: 40rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .box-score {
      height: 13rem;
      width: 15rem;
      padding: 2rem;

      border: 1px solid #000;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      color: $color-white;
    }
  }
}
