.playing-area {
  height: 70rem;
  width: 70rem;
  padding: 2rem;

  border: 1px solid $color-black;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .card-box {
    width: 15rem;
    height: 22.5rem;

    border: 1px solid $color-gold;
    border-radius: 1rem;
  }

  &__dealer,
  &__player {
    width: 35rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;

    .card-value {
      position: absolute;
      left: 2rem;
      top: 5rem;

      font-size: 1.75rem;
    }
  }

  &__player {
    height: 30rem;
  }
}
