.text-box {
  background-color: #ffffc0;
  border-color: #006000 #90f090 #90f090 #006000;
  border-style: solid;
  border-width: 1px;
  clear: right;
  color: $color-black;
  float: right;
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  text-align: center;
  width: 12rem;
}

.name {
  background-color: #208020;
  border-color: #60c060 #006000 #006000 #60c060;
  color: #ffffc0;
}