@use "generator";

@import "abstract/breakpoints";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/screen-reader";
@import "base/typography";

@import "layout/elements";
@import "layout/footer";
@import "layout/header";
@import "layout/navbar";
@import "layout/topbar";

@import "sections/hero";
@import "sections/services";
@import "sections/about";
@import "sections/gallery";
@import "sections/contact";

@import "snippets/btn";
@import "snippets/form";
@import "snippets/icons";
@import "snippets/map";
@import "snippets/team";

@import "utils/display";
@import "utils/flex";
@import "utils/grid";
@import "utils/layouts";
@import "utils/margin";
@import "utils/position";
@import "utils/typography";
