.navbar {
  position: relative;

  a,
  a:visited {
    color: #000;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  &__menu {
    @include respond(sm) {
      background-color: steelblue;
      height: 40vh;
      width: 100%;
      padding: 5rem;

      position: fixed;
      flex-direction: column;
      top: 0vh;
      right: 0;

      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }

  &__active {
    transform: translateX(0);
  }

  &__mobile-nav-toggle {
    cursor: pointer;
    aspect-ratio: 1;
    width: 2rem;

    display: none;

    font-size: 3rem;

    @include respond(sm) {
      display: block;
      z-index: 9999;
    }
  }
}
