.playing-field {
  border-color: #208020 #60c060 #60c060 #208020;
  border-style: solid;
  border-width: 1px;
  color: $color-black;
  margin-bottom: 0.8rem;
  padding: 4px;
  text-align: left;
  height: 5rem;

  @include clearfix
}